@value vars: "../../css/vars.module.css";
@value greyish, whiteish, hoverColor, borderColor, accent from vars;

.back {
  composes: primaryText from "../../css/typo.module.css";
  padding: var(--spacerSmaller) var(--spacerBig);
  margin: var(--spacer) 0 var(--spacerSmall);
  border: 0.1rem solid borderColor;
  border-radius: var(--spacer);
  background: none;
  cursor: pointer;
}

.back:hover {
  background: hoverColor;
}
