.userContainer {
  max-width: 80ch;
  margin: 0 auto;
}

.pageTitle {
  composes: subtitle from "../../css/typo.module.css";
}

.subTitle {
  composes: pageTitle;
  padding-bottom: 0.2rem;
}

.userFollowers {
  padding: 1.8rem;
}

.followItems {
  display: flex;
}

.followItem + .followItem {
  padding-left: 0.8rem;
}
