@value vars: "../../css/vars.module.css";
@value borderColor from vars;

.formInput {
  width: 100%;
  padding: var(--spacerSmall);
  font-size: var(--fsNormal);
  border: 0.1rem solid borderColor;
  border-radius: var(--spacerSmaller);
  margin-top: var(--spacerSmallest);
}
