@value vars: "../css/vars.module.css";
@value text from vars;

.header {
  display: flex;
  padding-top: var(--spacerSmall);
  justify-content: space-between;
  align-items: center;
}

.logoSymbol {
  margin-right: var(--spacerSmallest);
}

.logoWrapper {
  display: flex;
  align-items: center;
}

/* .pageTitle {
  composes: subtitle from "./typo.module.css";
  padding-bottom: var(--fsBig);
} */

.title__link {
  color: text;
  text-decoration: none;
  font-size: var(--fsBig);
  font-weight: bold;
}
