/* Laad eerst de globale vars in */
@value vars: "../css/vars.module.css";
@value lightText, text from vars;

/* export opgemaakte classes op basis van vars */
.primaryText {
  color: text;
  font-size: var(--fsNormal);
}

.subtitle {
  color: text;
  font-size: var(--fsBigger);
  font-weight: var(--fontWeightBold);
}

.sideText {
  color: lightText;
  font-size: var(--fsSmall);
}

.boldText {
  font-weight: var(--fontWeightBold);
}
