@value vars: "../../css/vars.module.css";
@value whiteish, background, background, hoverColor, borderColor, text, lightText, accent from vars;

.post__link {
  display: block;
  text-decoration: none;
  color: text;
  padding: var(--spacerSmall) var(--spacerBig);
  border: 0.1rem solid borderColor;
  border-radius: var(--spacerSmaller);
  background-color: background;
  margin: var(--spacerSmallest) 0;
}

.post__link:hover {
  background-color: hoverColor;
}

.post {
  list-style-type: none;
  padding: var(--spacer) var(--spacerBiggest);
  margin: var(--spacer) 0;
  border: 0.1rem solid borderColor;
  border-radius: var(--spacer);
  background-color: whiteish;
  overflow-wrap: break-word;
}

.post__author__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.post__author__title {
  font-weight: bold;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

/* kleurblokje, backgroundcolor zal dynamisch genomen worden */

/* .post__author__title::after {
  content: '';
  width: 1rem;
  height: 1rem;
  background: black;
  display: inline-block;
  padding: .5rem;
  margin-left: .5rem;
}
Nee toch niet -> Kan blijkbaar geen ::after via inline css veranderen*/

.colorBlock {
  display: inline-block;
  margin-right: 1rem;
}

.post__body {
  margin-bottom: var(--spacerSmall);
}

.post__tags {
  display: flex;
  font-style: italic;
}

.post__tag::before {
  content: "#";
}

.post__tag + .post__tag {
  padding-left: 1rem;
}

.post__content {
  padding: var(--spacerSmaller) 0;
  font-size: var(--fsBig);
}

.followButtonContainer {
  z-index: 100;
  display: block;
}

.followButton {
  padding: var(--spacerSmallest) var(--spacerSmaller);
  background: background;
  border: none;
  border: 0.1rem solid borderColor;
  border-radius: var(--spacer);
  font-size: var(--fsNormal);
  cursor: pointer;
}

.followButton:hover {
  background-color: hoverColor;
}

.followButtonFalse {
  background-color: accent;
  color: whiteish;
}

.followButtonFalse:hover {
  color: accent;
}

.followButtonTrue {
  color: lightText;
}

.followButtonTrue:hover {
  color: red;
}

.userLink {
  text-decoration: none;
  color: text;
}

.userLink:hover {
  text-decoration: underline;
}
