@import "./css/reset.css";
@import "./css/vars.module.css";
@import "./css/header.module.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-size: var(--fsNormal);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Inter", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  min-height: 100%;
  display: grid;
}

.container {
  display: flex;
  flex-flow: column;
  max-width: 111.4rem;
  margin: 0 auto;
  padding: 0 var(--spacerSmallest);
  background-color: var(--background);
}

.hidden {
  display: none;
}

.removeDecoration {
  text-decoration: none;
}

#loginForm:target {
  border: 0.5rem solid #3879ff;
  transform: scale(102%) rotate(3deg);
  transition: 0.3s ease transform;
}

.footer {
  padding: var(--spacerBigger) var(--spacerSmall);
  background-color: #fbfcfd;
  border-top: 0.2rem solid #dce5f0;
  text-align: center;
  align-self: flex-end;
}

.footer a {
  text-decoration: none;
  color: #3879ff;
}
